# Generic ignores
*.old
*.log
*.db
*.pem
*.json
*.db-shm
*.db-wal
*.pyc
._*
__pycache__
# Directory (contents) ignores
.cloud
.storage
deps
old
adb_key
lib

# Specific file ignores
.config_entries.json
.homekit.state
.ios.conf
.spotify-token-cache
.tradfri_psk.conf
.uuid
.HA_VERSION
core
html5_push_registrations.conf
ip_bans.yaml
known_devices.yaml
options.xml
OZW_Log.txt
pyozw.sqlite
pyvenv.cfg
secrets.yaml
zigate.*
zwcfg_*
zwscene.xml
zwavz_device_config.yaml
custom_components/*.sh
www/*.sh
www/img
zwave_device_config.yaml

configs/person.yaml

# Ignore files created by IDE's
.vscode
.theia
.Trash*

# Specific keeps
!packages/zigate.yaml
!.gitkeep